@model PerfectedCheck.Models.NoteModel
@{

}
<div class="card">
	@if(ViewBag.CanEdit)
	{
		<ul class="list-group list-group-flush">
			<nav>
				<ul class="nav nav-pills nav-fill">
					<li class="nav-item">
						<a class="nav-link" asp-controller="Note" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-danger" data-bs-toggle="modal" data-bs-target="#confirmNoteDeletionModal">Delete</a>

						<div class="modal fade" id="confirmNoteDeletionModal" tabindex="-1" aria-labelledby="confirmNoteDeletionModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="confirmNoteDeletionModalLabel">Modal title</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<p>Are you sure you want to delete " @Model.Title "?</p>
										<p>This CAN NOT be undone!</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
										<a class="btn btn-danger" asp-area="" asp-controller="Note" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</li>

				</ul>
			</nav>
		</ul>
	}
	
	<div class="card-body">
		<p class="h1">@Model.Title</p>
		<p class="card-subtitle mb-2 text-body-secondary">Made by: @ViewBag.Username</p>
	</div>
	
	<div class="card m-2">
		<div class="card-body">
			@Html.Raw(ViewBag.HtmlContent)
		</div>
	</div>

</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}